
{% extends "magazine/base.html" %}
{% load crispy_forms_tags %}
{% block content2 %}
<div class="col-md-8">
  <div class="content-section">


  <div class="media">
    <img class="rounded-circle w-25 h-25 p-3 account-img" src="{{ user.profile.img.url }}">
    <div class="media-body">
      <h2 class="account-heading pl-4 pt-3">{{ user.username }}</h2>
      <p class="text-secondary pl-4 pt-1">{{ user.email }}</p>
    </div>
  </div>
  <!-- FORM HERE -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ u_form|crispy }}
           {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
</div>
    </div>


{% endblock content2 %}







